body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
	overflow: hidden;
}

.scroller {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.container {
	max-width: none;
}

.content-padding-for-navbar {
	padding-top: 70px;
}

.table-scrollable {
    width: 100%;
	height: 300px;
	margin-bottom: 15px;
    overflow: auto;
    border: 1px solid #dddddd;
}
.table-scrollable > .table {
	margin-bottom: 0;
	background-color: #ffffff;
}
.table-scrollable > .table > thead > tr > th,
.table-scrollable > .table > tbody > tr > th,
.table-scrollable > .table > tfoot > tr > th,
.table-scrollable > .table > thead > tr > td,
.table-scrollable > .table > tbody > tr > td,
.table-scrollable > .table > tfoot > tr > td {
	white-space: nowrap;
}

#program-edit-dialog > .modal-dialog {
	width: auto;
	padding: 10px;
}

#program-edit-save {
	margin-right: 10px;
}

#program-edit-reset {
	margin-right: 10px;
}

.program-beautify-script-container {
	position: relative;
}

.program-beautify-script {
	position: absolute;
	top: 0;
	right: 0;
}

.code-editor {
	height: 200px;
}
