module.exports =
  basicAuth:
    username: 'admin'
    password: 'password'
  email:
    method: SES
    transport:
      AWSAccessKeyID: ''
      AWSSecretKey: ''
    message:
      from: ''
      to: ''
  slack:
    hubothook: ''
    room: ''
    color: ''
