<div class='row'>
  <div class='col-md-4'>
    <div class='list-group'>
      <a class='list-group-item' ng-repeat='item in scripts' ng-click='showData(item._id)' ng-class='getClass(item._id)'>{{item._id}}</a>
    </div>
  </div>
  <div class='col-md-8'>
    <div ng-show='selected'>
      <div ng-show='results'>
        <table class='result-table'>
          <tr>
            <th>Date</th>
            <th ng-repeat='column in columns'>{{column}}</th>
          </tr>
          <tr ng-repeat='item in results'>
            <td>{{item.date}}</td>
            <td ng-repeat='value in item.result'>{{value}}</td>
          </tr>
        </table>
      </div>
      <div ng-hide='results'>
        No results
      </div>
    </div>
    <div ng-hide='selected'>
      Nothing selected
    </div>
  </div>
</div>
