<nav class='navbar navbar-default navbar-fixed-top'>
  <ul class='nav navbar-nav'>
    <li><a ui-sref='programs.list' ng-i18next='programs.menu'></a></li>
    <li class='dropdown'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='javascript:;'>{{'oneoffs.menu' | i18next}} <b class='caret'></b></a>
      <ul class='dropdown-menu'>
        <li ng-class="{active: selected=='new'}"><a ui-sref='oneoffs.new' ng-i18next='oneoffs.new'></a></li>
        <li ng-class="{active: selected=='history'}"><a ui-sref='oneoffs.history' ng-i18next='oneoffs.history'></a></li>
      </ul>
    </li>
  </ul>
</nav>

<div class='content-padding-for-navbar' ui-view=''>
</div>
