<nav class='navbar navbar-default navbar-fixed-top'>
  <ul class='nav navbar-nav'>
    <li class='dropdown'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='javascript:;'>{{'programs.list.select_one' | i18next}} <b class='caret'></b></a>
      <ul class='dropdown-menu'>
        <li><a ui-sref='programs.list' ng-i18next='programs.list.return_to_list'></a></li>
        <li class='divider'></li>
        <li ng-class="{active: is_oneoff}"><a ui-sref='oneoffs.new' ng-i18next='programs.list.oneoff'></a></li>
      </ul>
    </li>
  </ul>
</nav>

<div class='content-padding-for-navbar' ui-view=''>
</div>
