<form class='form-horizontal'>
  <div class='form-group'>
    <label class='col-sm-2 control-label'>Server</label>
    <div class='col-sm-10'>
      <select ng-model='oneoff.server' ng-options='s._id as s._id for s in servers'>
        <option value=''>-- select server --</option>
      </select>
    </div>
  </div>
  <div class='form-group'>
    <label class='col-sm-2 control-label'>Using CoffeeScript</label>
    <div class='col-sm-10'>
      <input type='checkbox' class='form-control' ng-model='oneoff.using_coffeescript' ng-change='onChangeUsingCoffeeScript()'></textarea>
    </div>
  </div>
  <div class='form-group'>
    <label class='col-sm-2 control-label'>Script</label>
    <div class='col-sm-10'>
      <div class='program-beautify-script-container'>
        <textarea class='form-control' rows='8' ng-model='oneoff.script'></textarea>
        <button ng-click='beautifyScript()' class='btn btn-warning program-beautify-script' ng-hide='oneoff.using_coffeescript'>Beautify</button>
      </div>
    </div>
  </div>
  <button type='submit' class='btn btn-default' ng-click='runOneoff()' ng-i18next='programs.edit.test'></button>
  <div class='progress progress-striped active' ng-show='show_progress'>
    <div class='progress-bar' style='width: 100%;'></div>
  </div>
  <div ng-show='show_run_result'>
    <label ng-i18next='programs.edit.result'></label>
    <textarea class='form-control' rows='8' readonly>{{oneoff.result}}</textarea>
    <hr>
    <div class='form-group'>
      <label class='col-sm-2 control-label'>Description</label>
      <div class='col-sm-10'>
        <textarea class='form-control' rows='2' ng-model='oneoff.description'></textarea>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-10 col-sm-offset-2'>
        <button type='submit' class='btn btn-success' ng-click='save()' ng-i18next='programs.edit.save'></button>
      </div>
    </div>
  </div>
</form>
