<div ng-show='results'>
  <div id='chart'></div>
  <div class='table-scrollable'>
    <table class='table table-bordered table-condensed'>
      <tr>
        <th ng-i18next='programs.result.date'></th>
        <th ng-repeat='column in columns'>{{column}}</th>
        <th ng-i18next='programs.result.total'></th>
      </tr>
      <tr ng-repeat='item in results'>
        <td>{{item.date}}</td>
        <td ng-repeat='value in item.result_for_table'>{{value}}</td>
        <td>{{item.total}}</td>
      </tr>
    </table>
  </div>
</div>
<div ng-hide='results' ng-i18next='programs.result.no_result'>
</div>

<div id='program-edit-dialog' class='modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <h4 class='modal-title'>{{program.title}}</h4>
      </div>
      <div class='modal-body'>
        <form>
          <div ng-show='program.script'>
            <label>Script</label>
            <textarea class='form-control' rows='8' ng-model='program.script'></textarea>
          </div>
          <div ng-show='program.map'>
            <label>Map function</label>
            <textarea class='form-control' rows='8' ng-model='program.map'></textarea>
            <label>Reduce function</label>
            <textarea class='form-control' rows='8' ng-model='program.reduce'></textarea>
          </div>
          <button type='submit' class='btn btn-default' ng-click='runProgram()' ng-i18next='programs.edit.test'></button>
          <div ng-show='run_result'>
            <label ng-i18next='programs.edit.result'></label>
            <textarea class='form-control' rows='8' readonly>{{run_result}}</textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
