<div ng-show='selected'>
  <form>
    <label>Map function</label>
    <textarea class='form-control' rows='3'>{{program.map}}</textarea>
    <label>Reduce function</label>
    <textarea class='form-control' rows='3'>{{program.reduce}}</textarea>
    <button type='submit' class='btn btn-default' ng-click='runProgram(selected)'>Run</button>
  </form>
  <div ng-show='results'>
    <table class='result-table'>
      <tr>
        <th>Date</th>
        <th ng-repeat='column in columns'>{{column}}</th>
        <th>Total</th>
      </tr>
      <tr ng-repeat='item in results'>
        <td>{{item.date}}</td>
        <td ng-repeat='value in item.result_for_table'>{{value}}</td>
        <td>{{item.total}}</td>
      </tr>
    </table>
    <div id='chart'></div>
  </div>
  <div ng-hide='results'>
    No results
  </div>
</div>
<div ng-hide='selected'>
  Nothing selected
</div>
