<nav class='navbar navbar-default navbar-fixed-top'>
  <ul class='nav navbar-nav'>
    <li class='dropdown'>
      <a class='dropdown-toggle' data-toggle="dropdown" href="#">{{getTitleOfProgram(selected) || 'Select program'}} <b class='caret'></b></a>
      <ul class='dropdown-menu'>
        <li><a ui-sref='programs.list'>Return to list</a></li>
        <li class='divider'></li>
        <li ng-repeat='item in programs' ng-class="{active: selected==item._id}"><a ui-sref='programs.item({id:item._id})'>{{item.title}}</a></li>
      </ul>
    </li>
  </ul>
  <div class='navbar-right'>
    <div ng-show='selected'>
      <button type='button' data-toggle='modal' data-target='#program-edit-dialog'><span class='glyphicon glyphicon-pencil'></span>
    </div>
  </div>
</nav>

<div class='content-padding-for-navbar' ui-view=''>
</div>
