Show <select ng-model='results_type' ng-options='type as label for (type, label) in results_types'></select>
from <input type='text' id='results_to' data-date-format='YYYY-MM-DD HH:mm'/>
<br style='height: 5px;'>
<div ng-show='results'>
  <div id='chart'></div>
  <div class='table-scrollable'>
    <table class='table table-bordered table-condensed'>
      <tr>
        <th ng-i18next='programs.result.date'></th>
        <th ng-repeat='column in columns track by $index'>{{column}}</th>
        <th ng-show='program.show_total' ng-i18next='programs.result.total'></th>
      </tr>
      <tr ng-repeat='item in results'>
        <td>{{item.date | date:'yyyy-MM-dd HH:mm Z'}}</td>
        <td ng-repeat='value in item.result_for_table track by $index'>{{value}}</td>
        <td ng-show='program.show_total'>{{item.total}}</td>
      </tr>
    </table>
  </div>
</div>
<div ng-hide='results' ng-i18next='programs.result.no_result'>
</div>

<div id='program-edit-dialog' class='modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'>&times;</button>
        <button type='submit' id='program-edit-save' class='btn btn-primary pull-right' ng-click='updateProgram()' ng-i18next='programs.edit.save' ng-disabled='isClean()'></button>
        <button type='submit' id='program-edit-reset' class='btn btn-default pull-right' ng-click='resetProgram()' ng-i18next='programs.edit.reset' ng-disabled='isClean()'></button>
        <h4 class='modal-title'><input type='text' ng-model='program.title'></input></h4>
      </div>
      <div class='modal-body'>
        <form class='form-horizontal'>
          <div class='form-group'>
            <label class='col-sm-2 control-label'>Description</label>
            <div class='col-sm-10'>
              <textarea class='form-control' rows='2' ng-model='program.description'></textarea>
            </div>
          </div>
          <div class='form-group'>
            <label class='col-sm-2 control-label'>Server</label>
            <div class='col-sm-10'>
              <select ng-model='program.server' ng-options='s.id as s.id for s in servers'>
                <option value=''>-- select server --</option>
              </select>
            </div>
          </div>
          <div class='form-group'>
            <label class='col-sm-2 control-label'>Show total</label>
            <div class='col-sm-10'>
              <input type='checkbox' ng-model='program.show_total'></input>
            </div>
          </div>
          <div class='form-group'>
            <label class='col-sm-2 control-label'>Type</label>
            <div class='col-sm-10'>
              <select ng-model='program.type' ng-options='type as label for (type, label) in types'></select>
            </div>
          </div>
          <div class='form-group'>
            <label class='col-sm-2 control-label'>Runner</label>
            <div class='col-sm-10'>
              <select ng-model='program.runner.type'>
                <option value=''>No runner</option>
                <option value='daily'>Daily</option>
              </select>
            </div>
          </div>
          <div class='form-group'>
            <label class='col-sm-2 control-label'>Using CoffeeScript</label>
            <div class='col-sm-10'>
              <input type='checkbox' ng-model='program.using_coffeescript' ng-change='onChangeUsingCoffeeScript()'></input>
            </div>
          </div>
          <ng-switch on='program.type'>
            <div class='form-group' ng-switch-when='shellscript'>
              <label class='col-sm-2 control-label'>Script</label>
              <div class='col-sm-10'>
                <div class='program-beautify-script-container'>
                  <div ui-ace="{ onLoad : aceLoaded }" class='form-control code-editor' ng-model='program.script'></div>
                  <button ng-click='beautifyScript()' class='btn btn-warning program-beautify-script' ng-hide='program.using_coffeescript'>Beautify</button>
                </div>
              </div>
            </div>
            <div class='form-group' ng-switch-when='mapreduce'>
              <label class='col-sm-2 control-label'>Collection</label>
              <div class='col-sm-10'>
                <input type='text' class='form-control' ng-model='program.collection'></input>
              </div>
              <label class='col-sm-2 control-label'>Map function</label>
              <div class='col-sm-10'>
                <div class='program-beautify-script-container'>
                  <div ui-ace="{ onLoad : aceLoaded }" class='form-control code-editor' ng-model='program.map'></div>
                  <button ng-click='beautifyMap()' class='btn btn-warning program-beautify-script' ng-hide='program.using_coffeescript'>Beautify</button>
                </div>
              </div>
              <label class='col-sm-2 control-label'>Reduce function</label>
              <div class='col-sm-10'>
                <div class='program-beautify-script-container'>
                  <div ui-ace="{ onLoad : aceLoaded }" class='form-control code-editor' ng-model='program.reduce'></div>
                  <button ng-click='beautifyReduce()' class='btn btn-warning program-beautify-script' ng-hide='program.using_coffeescript'>Beautify</button>
                </div>
              </div>
            </div>
          </ng-switch>
          <button type='submit' class='btn btn-default' ng-click='runProgram()' ng-i18next='programs.edit.test'></button>
          <div class='progress progress-striped active' ng-show='show_progress'>
            <div class='progress-bar' style='width: 100%;'></div>
          </div>
          <div ng-show='show_run_result'>
            <label ng-i18next='programs.edit.result'></label>
            <textarea class='form-control' rows='8' readonly>{{run_result.result | json}}</textarea>
            <button type='submit' class='btn btn-success' ng-click='recordTestResult()' ng-i18next='programs.edit.record_test_result'></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
