<nav class='navbar navbar-default navbar-fixed-top'>
  <ul class='nav navbar-nav'>
    <li class='dropdown'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='javascript:;'>{{getTitleOfProgram(selected) || ('programs.list.select_one' | i18next)}} <b class='caret'></b></a>
      <ul class='dropdown-menu'>
        <li><a ui-sref='programs.list' ng-i18next='programs.list.return_to_list'></a></li>
        <li><a ui-sref='oneoffs.new' ng-i18next='oneoffs.menu'></a></li>
        <li class='divider'></li>
        <li ng-repeat='item in programs' ng-class='{active: selected==item.id}'><a ui-sref='programs.item({id:item.id})'>{{item.title}}</a></li>
      </ul>
    </li>
  </ul>
  <div class='navbar-right'>
    <button type='button' ng-click='addProgram()'><span class='glyphicon glyphicon-plus'></span></button>
    <button type='button' ng-show='selected' data-toggle='modal' data-target='#program-edit-dialog'><span class='glyphicon glyphicon-pencil'></span></button>
    <button type='button' ng-show='selected' ng-click='deleteProgram()'><span class='glyphicon glyphicon-trash'></span></button>
  </div>
</nav>

<div class='content-padding-for-navbar' ui-view=''>
</div>
